<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>博客详情</title>
    <link rel="stylesheet" href="../static/css/me.css">
    <link href="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
</head>
<body>
<!--导航-->
<nav class="ui inverted attached segment m-padded-tb-mini">
    <div class="container">
        <div class="ui inverted secondary  stackable menu">
            <h2 class="ui teal header item">Blog</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class=" home icon"></i> 首页</a>
            <a href="#" class="m-item item m-mobile-hide"><i class=" idea icon"></i> 分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class=" tags icon"></i> 标签</a>
            <a href="#" class="m-item item m-mobile-hide"><i class=" clone icon"></i> 归档</a>
            <a href="#" class="m-item item m-mobile-hide"><i class=" info icon"></i> 关于我</a>
            <div class="right m-item item m-mobile-hide">
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="search....">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!--中间内容-->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <div class="ui top attached segment">
            <div class="ui  link horizontal list">
                <div class="item">
                    <img src="../static/image/aijianga.jpg" alt="" class="ui avatar image">
                    <div class="content"><a href="#" class="header">柳梦琦</a></div>
                </div>
                <div class="item">
                    <i class="calendar icon"></i>2020-11-12
                </div>
                <div class="item">
                    <i class="eye icon"></i>10092
                </div>
            </div>
        </div>
        <div class="ui attached segment">
            <!--图片区域-->
            <img src="https://unsplash.it/800/450?image=1005" alt="" class="ui fluid rounded image">
        </div>
        <div class="ui attached padded segment">
            <!--内容-->
            <div class="ui right aligned basic segment ">
                <div class="ui orange basic label">原创</div>
            </div>
            <h2 class="ui header center aligned">关于刻意练习的清单</h2>
            <br>
            <div id="content" class="m-padded-lr-responsive m-padded-tb-large">
                <p>啊是的请问的阿斯顿阿斯顿阿斯顿</p>
                <h2>1</h2>
                <p>VS工会本然后为请问啊实打实的1权威的</p>
                <h2>2</h2>
                <p>asdasddxfvcbrt hrthdfgdfgdfgdfg</p>
            </div>

            <!--标签-->
            <div class="m-padded-lr-responsive">
                <div class="ui basic teal left pointing label">方法论</div>
            </div>
            <!--赞赏-->
            <div class="ui center aligned basic segment">
                <button id="payButton" class="ui orange basic circular button">赞赏</button>
            </div>
            <div class="ui payQR flowing popup transition hidden">
                <div class="ui orange basic label">
                    <div class="ui images" style="font-size: inherit !important;">
                        <div class="image">
                            <img src="../static/image/QRCode.png" alt="" class="ui rounded bordered image"
                                 style="width: 120px">
                            <div>支付宝</div>
                        </div>
                        <div class="image">
                            <img src="../static/image/QRCode.png" alt="" class="ui rounded bordered image"
                                 style="width: 120px">
                            <div>微 信</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui attached positive message">
            <!--博客信息-->
            <div class="ui middle aligned grid">
                <div class="eleven wide column">
                    <ui class="list">
                        <li>作者</li>
                        <li>链接</li>
                        <li>版权声明</li>
                        <li>相关</li>
                    </ui>
                </div>
                <div class="five wide column">
                    <img src="../static/image/QRCode.png" alt="" class="ui right floated rounded bordered image"
                         style="width: 110px">
                </div>
            </div>
        </div>
        <div class="ui bottom attached segment">
            <!--留言区域列表-->
            <div class="ui teal segment">
                <div class="ui threaded comments">
                    <h3 class="ui dividing header">Comments</h3>
                    <div class="comment">
                        <a class="avatar">
                            <img src="../static/image/avatar/timg.jpg" alt="">
                        </a>
                        <div class="content">
                            <a href="" class="author">Matt</a>
                            <div class="metadata">
                                <span class="date">Today at 5:42PM</span>
                            </div>
                            <div class="text">
                                How artistic!
                            </div>
                            <div class="actions">
                                <a href="" class="reply">回复</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="avatar">
                            <img src="../static/image/avatar/timg.jpg" alt="">
                        </a>
                        <div class="content">
                            <a href="" class="author">Elliot Fu</a>
                            <div class="metadata">
                                <span class="date">Yesterday at 12:30PM</span>
                            </div>
                            <div class="text">
                                <p>This has been very useful for my research. Thanks as well!</p>
                            </div>
                            <div class="actions">
                                <a href="" class="reply">回复</a>
                            </div>
                        </div>
                        <div class="comments">
                            <div class="comment">
                                <a class="avatar">
                                    <img src="../static/image/avatar/timg.jpg" alt="">
                                </a>
                                <div class="content">
                                    <a href="" class="author">Jenny Hess</a>
                                    <div class="metadata">
                                        <span class="date">Just now</span>
                                    </div>
                                    <div class="text">
                                        Elliot you are always so right :)
                                    </div>
                                    <div class="actions">
                                        <a href="" class="reply">回复</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="avatar">
                            <img src="../static/image/avatar/timg.jpg" alt="">
                        </a>
                        <div class="content">
                            <a href="" class="author">Joe Henderson</a>
                            <div class="metadata">
                                <span class="date">5 days ago</span>
                            </div>
                            <div class="text">
                                <p>Dude, this is awesome.Thanks so much</p>
                            </div>
                            <div class="actions">
                                <a href="" class="reply">回复</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui form">
                <div class="field">
                    <textarea name="content" placeholder="请输入评论信息..."></textarea>
                </div>
                <div class="fields">
                    <div class="field m-mobile-wide m-margin-bottom-small">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="nickname" placeholder="姓名">
                        </div>
                    </div>
                    <div class="field m-mobile-wide m-margin-bottom-small">
                        <div class="ui left icon input">
                            <i class="mail  icon"></i>
                            <input type="text" name="email" placeholder="邮箱">
                        </div>
                    </div>
                    <div class="field m-mobile-wide m-margin-bottom-small">
                        <button class="ui teal button m-mobile-wide">
                            <i class="edit icon"></i>
                            发布
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--底部footer-->
<footer class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/image/aijianga.jpg" class="ui rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事(user story)</a>
                    <a href="#" class="item">用户故事(user story)</a>
                    <a href="#" class="item">用户故事(user story)</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">QQ:495800763</a>
                    <a href="#" class="item">Email:liumq9578@163.com</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客，分享一些我自己的内容</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright 2020-2025 Liumengqi Designed by Liumengqi</p>
    </div>
</footer>
<script src="../static/js/jquery/3.1.1/jquery.min.js"></script>
<script src="../static/js/jquery/3.1.1/jquery.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    //设置博客详情页面赞赏二维码的弹出
    $('#payButton').popup({
        popup: $('.payQR.popup'),
        on: 'click',
        position: 'bottom center',
    })
</script>
</body>
</html>